# Node.js dependencies
node_modules/
package-lock.json
package*.json

# Editor/OS specific
.vscode/
.DS_Store

# Environment variables
.env

# Build/output/temp
dist/
build/
tmp/
out/

# Project specific
Data/extracted/
Data/*.zip

*.zip